scikit_image
kornia
chumpy
librosa
av
loguru
tensorboard
pytorch_lightning
opencv-python
phonemizer
jiwer
yacs
torch
torchvision
torchaudio
fvcore
iopath
git+https://github.com/facebookresearch/pytorch3d.git
